---
import TopicList from '../../components/TopicList.astro'
import Layout from '../../layouts/Page.astro'
---

<Layout title="Topics" description="An overview of all the various topics on our blog.">
    <h1>All the topics</h1>
    <TopicList topics="all" />
</Layout>
