---
import { BRAND } from '../consts'

const today = new Date()
---

<footer class="p-6 text-center dark:text-white/70">
    <a href="/privacy-policy">Privacy Policy</a> | &copy; {today.getFullYear()}&nbsp;{BRAND}. All rights reserved.
</footer>
