---
export interface Props {
    date: Date
}

const { date } = Astro.props
---

<div class="text-right">
    <time datetime={date.toISOString()}>
        —&nbsp;{
            date.toLocaleDateString('en-us', {
                year: 'numeric',
                month: 'short',
                day: 'numeric',
            })
        }
    </time>
</div>
